.sidebar {
    margin-top: 76px;
    position: fixed;
    left: 0;
    top: 0;
    height: calc(100vh - var(--navbar-height));
    margin-right: var(--sidebar-width);
    width: var(--sidebar-width);
    background: var(--color-inverted);
    transition: width 0.3s ease;
    display: flex;
    font: var(--font-l);
    justify-content: center;
    z-index: 1;
}

.nav {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    gap: 24px;
}

.toggle {
    position: absolute;
    top: 40px;
    z-index: 10;
    right: -15px;
    background-color: var(bg-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.collapsedSwitchers {
    display: flex;
    flex-direction: column;
}

.switchers {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}

.createTodoBtn {
    margin-top: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 16px;
}

.todoBtnText {
    text-align: left;
    font-size: 18px;
    color: var(--color-primary);
}
