.notFoundPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: var(--font-l);
    overflow: hidden;
    height: 90vh;
}

.btn {
    margin-top: 24px;
}