.wrapper {
    margin-top: 24px;
    padding: 24px 24px;
    border: var(--color-inverted) 1px solid;
    border-radius: 3px;
    color: var(--color-inverted);
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-size: 18px;
}

.description {
    margin-top: 12px;
    color: var(--color-primary);
}

.btn {
    padding: 12px 24px;
}

.extra {
    display: flex;
    justify-content: space-between;
}