.wrapper {
    padding: 12px;
    border: var(--color-inverted) 2px solid;
    border-radius: 8px;
    color: var(--color-inverted);
    max-width: 40%;
}

.title {
    font-size: 20px;
}

.description {
    margin-top: 12px;
    color: var(--color-primary);
}