.app_dark_theme {
    --color-primary: #9096ff;
    --color-secondary: #0080a7;
    --color-main: #0e1d27;
    --color-inverted: #fafcfe;
    --bg-color: #0e1d27;
    --bg-color-secondary: #0c0408;
    --inverted-bg-color: #d0d8df;
    --inverted-primary-color: #3dabf7;
    --inverted-secondary-color: #0e1d27;
}
