.app_light_theme {
    --color-primary: #9096ff;
    --color-secondary: #00c2ff;
    --color-main: #fafcfe;
    --color-inverted: #0e1d27;
    --bg-color: #fafcfe;
    --bg-color-secondary: #f1f1eb;
    --inverted-bg-color: #9096ff;
    --inverted-primary-color: #f99354;
    --inverted-secondary-color: #fff;
}
