.error {

}

.isLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.profileData {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inputText {
    font: var(--font-l);
}
